<h1><%= @article.title %></h1>

<p>Source:
  <% if @article.is_a?(ScrapedArticle) && @article.scraped_feed.present? %>
    <%= @article.scraped_feed.name %>
  <% elsif @article.feed.present? %>
    <%= @article.feed.name %>
  <% else %>
    Unknown Source
  <% end %>
</p>

<p>Published: <%= @article.published_at.strftime("%B %d, %Y") %></p>

<% if @article.is_a?(Article) && @article.ai_summary.present? %>
  <h3>AI Summary</h3>
  <p><%= simple_format(@article.ai_summary.content) %></p>
<% else %>
  <p>No AI Summary available</p>
<% end %>
